h1{
	font-family: "Arial", Georgia, Serif;
	text-align: center;
}

body{
	background-color: #e8e8e8;
}

#fields {
	background-color: #999;
	border: 3px black solid;
	width: 280px;
	height: 360px;
	padding: 10px;
	border-radius: 10px;
	font-family: "Arial", Georgia, Serif;
	font-size: 20px;
}

input{
	font-size: 20px;
	margin: 3px auto;
}

#map {
    width:68%;
    height:360px;
    margin: 3px auto;
}

.rows {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

.buttonS{
	width:80px;
	height:50px;
	font-size:15px;
	border-radius:10px;
	margin-top:15px;
}

.buttonM{
	width:160px;
	height:50px;
	font-size:15px;
	border-radius:10px;
	margin-top:15px;
}